
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px;
  height: 25px;
  background-color: #FFF;
  box-shadow: 0px 10px 25px 1px #00000017;

}

.navbar-left {
  justify-content: left;
  justify-content: center;
  align-items: center;
}

.navbar-left h1 {
  margin: 0;
  padding: 0;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab { 
  text-decoration: none;
  color: inherit ;
  padding: 0 64px 0 0;
}

.drop-down {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pfp {
  width: 45px;
  cursor: pointer;

}

.drop-down-options {
  background-color: white;
  position: absolute;
  top: 120%;
  right: 10%;
  width: 170px;
  border-radius: 10px;
}

.drop-down-tab {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 5px 0;
}


.drop-down-options li {
  text-decoration: none;
  list-style: none;
  padding: 5px 0;
}


/* SETTINGS */
.settings {
  display: flex;
}

.settings-menu {
  width: 450px;
  padding: 0px 20px;
  margin: 0px 24px;
  list-style: none;
}

.text-link {
  text-decoration: none;
}

.settings-menu ul {
  padding: 0;
}

.settings-menu li {
  list-style: none;
  text-decoration: none;
}

.profile-info {
  background-color: gainsboro;
  width: 900px;
  height: 400px;
  padding: 0;
}


@media only screen and (max-width: 480px) {
  /* SETTINGS */
.settings {
  display: block;
  padding: 10px;
}

.settings-menu {
  width: 200px;
  list-style: none;
}

.text-link {
  text-decoration: none;
}

.settings-menu ul {
  padding: 0;
}

.settings-menu li {
  list-style: none;
  text-decoration: none;
}

.profile-info {
  background-color: red;
  width: 300px;
  height: 400px;
  padding: 0;
}

/*END SETTINGS*/
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* SETTINGS */
.settings {
  display: flex;
  padding: 10px;
}

.settings-menu {
  width: 200px;
  list-style: none;
}

.text-link {
  text-decoration: none;
}

.settings-menu ul {
  padding: 0;
}

.settings-menu li {
  list-style: none;
  text-decoration: none;
}

.profile-info {
  background-color: green ;
  width: 550px;
  height: 400px;
}
}

/*HOME*/
.homeHeader {
  margin-left: 125px;
}

.homeHeading {
  font-size: 35px;
  margin-bottom: 0;
}

.homeText {
  font-size: 18px;
  margin-bottom: 30px;
}

.allModulesDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.module {
  background-color: #F5F5F5;
  width: 550px;
  height: 250px;
  border-radius: 20px;
  padding: 50px;
  position: relative;
  display: flex;
  position: relative;
}

.moduleContent {
  flex: 1;
}

.moduleName {
  font-size: 28px;
  margin: 0;
}

.moduleStatusDiv {
  background-color: #FBFFAF;
  border-radius: 10px;
  width: fit-content;
}

.moduleStatusDiv p {
  margin-bottom: 0;
  padding: 6px 15px;
  color: #9F7E1C;
}

.moduleButtonDiv {
  background-color: #095C13;
  color: white;
  border-radius: 20px;
  width: fit-content;
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

.moduleButtonDiv p {
  padding: 8px 50px;
  margin: 0;
}

.moduleImg img {
  height: 250px;
}
/*END HOME*/

/*ROADMAP*/
.backBtn {
  margin-left: 30px;
}

.flexContainer {
  display: flex;
  gap: 40px;
  margin: 30px 70px;
}

.moduleInfo {
  background-color: #F5F5F5;
  border-radius: 20px;
  height: 300px;
  width: 650px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;  
}

.moduleContent {
  margin: 20px;
}

.taskCount {
  padding-top: 20px;
}

.nextTask {
  background-color: pink;
  border-radius: 20px;
  height: 300px;
  width: 500px;
}

.item2 {
  background-color: lightgoldenrodyellow;
  width: 400px;
}

.item3 {
  background-color: white;
  outline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  border-radius: 40px;
  position: absolute;
  right: 0;
  margin-right: 30px;
}
/*END ROADMAP*/