body {
  font-family: "Poppins";
}

/*NAVBAR*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px;
  height: 42px;
  background-color: #fff;
  box-shadow: 0px 10px 25px 1px #00000017;
}

.navbar-left {
  justify-content: left;
  justify-content: center;
  align-items: center;
}

.navbar-left h1 {
  margin: 0;
  padding: 0;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  text-decoration: none;
  color: inherit;
  padding: 0 64px 0 0;
}

.tab:hover {
  color: #095c13;
}

.drop-down {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pfp {
  width: 45px;
  cursor: pointer;
}

.drop-down-options {
  background-color: white;
  position: absolute;
  top: 120%;
  right: 10%;
  width: 170px;
  border-radius: 10px;
  box-shadow: 0px 10px 25px 1px #00000017;
}

.drop-down-tab {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 5px 0;
}

.drop-down-options li {
  text-decoration: none;
  list-style: none;
  padding: 5px 0;
}

/*NAVBAR END*/

/* SETTINGS */
.settings {
  display: flex;
  margin: 40px 30px;
}

.settings h2 {
  font-size: 2rem;
}

.settings-menu h2 {
  font-size: 2rem;
  padding-right: 70px;
}

.settings-menu {
  padding: 0px 20px;
  margin: 0 80px 0 0;
  list-style: none;
  font-size: 1.25rem;
}

.text-link {
  text-decoration: none;
  color: inherit;
}

.text-link:hover {
  color: #095c13;
}

.settings-menu ul {
  padding: 0;
}

.settings-menu li {
  list-style: none;
  text-decoration: none;
  padding: 10px 0;
}

/*SETTINGS - PROFILE*/

.profile-info {
  background-color: #f5f5f5;
  padding: 48px 50px;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.profile-info-pic {
  vertical-align: top;
}

.profile-info-pfp {
  width: 140px;
  position: relative;
  bottom: 50px;
}

.profile-info-text {
  margin: 0 0 0 68px;
}

.profile-info-text h3 {
  margin: 0;
  padding: 0;
}

.profile-info-text h4 {
  font-size: 1rem;
  color: #767676;
  margin-bottom: 0;
}

.profile-info-text p {
  font-size: 1rem;
  margin: 0;
}

.profile-info-text-header {
  margin: 0 50px 0 0;
  display: flex;
  align-items: baseline;
}

.profile-info-text-header p {
  padding: 10px;
}

.profile-info-edit {
  font-size: 1rem;
  position: relative;
  bottom: 160px;
}

.profile-info-edit li {
  list-style: none;
}

.edit-profile-info {
  display: block;
  background-color: #00000017;
  border-radius: 10px;
  padding: 40px 80px;
}

.edit-photo {
  border-radius: 24px;
  height: 35px;
  color: #4e4f50;
  margin: 0px 60px;
  border: 1px solid #4e4f50;
  background-color: transparent;
  cursor: pointer;
  width: 120px;
  height: 40px;
}

.edit-profile-info-pic {
  display: flex;
  align-items: center;
}

.edit-profile-info-pfp {
  width: 120px;
}

.profile-info-edit-icon {
  width: 25px;
  position: relative;
  left: 20px;
  top: 20px;
}

.edit-profile-info-text {
  margin: 12px 0;
}

.edit-profile-info-text label {
  color: #79747e;
}

.edit-profile-info-text input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.edit-profile-info-text .form-group {
  margin-top: 20px;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.save {
  position: relative;
  left: 600px;
  background-color: #095c13;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  border: 1px solid;
}

.avatar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-avatar {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.choose-avatar h3 {
  font-size: 2rem;
  margin: 0;
}

.choose-avatar-pfp {
  width: 80px;
  margin: 10px;
  cursor: pointer;
}

.choose-avatar-save {
  background-color: #095c13;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  margin-top: 20px;
}

.data-use {
  background-color: #00000017;
  padding: 8px 135px 8px 24px;
  border-radius: 10px;
  margin: 48px 0 48px 0;
  max-width: 880px;
}

.data-use h3 {
  font-size: 20px;
}

.data-use p {
  max-width: 720px;
}

.data-ctrl {
  background-color: #00000017;
  padding: 8px 135px 24px 24px;
  border-radius: 10px;
}

.data-ctrl h3 {
  font-size: 20px;
}

.data-ctrl p {
  margin: 0;
}

.slight-bold {
  font-weight: 500;
}

.password-change {
  background-color: #00000017;
  border-radius: 10px;
  padding: 30px 200px 30px 40px;
}

.password-change input {
  border: 1px solid #d9d9d9;
  width: 400px;
  height: 30px;
  border-radius: 10px;
}

.password-change textarea {
  font-family: "Poppins";
  border: 1px solid #d9d9d9;
  width: 400px;
  height: 30px;
  border-radius: 10px;
}

.password-change label {
  color: #79747e;
}

.password-change .form-group {
  padding: 10px 0;
}

.password-submit {
  width: 130px !important;
  height: 40px !important;
  background-color: #095c13;
  color: white;
  border-radius: 40px !important;
}

.message {
  height: 180px !important;
}

/*SETTINGS - PROFILE END*/

/*SETTINGS END*/

/*HOME*/
.home-header {
  margin-left: 125px;
}

.home-heading {
  font-size: 35px;
  margin-bottom: 0;
}

.home-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.all-modules-div {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
  justify-content: center;
}

.module {
  background-color: #f5f5f5;
  width: 34%;
  height: 250px;
  border-radius: 20px;
  padding: 50px;
  position: relative;
  display: flex;
  margin-bottom: 3%;
}

.module-content {
  flex: 1;
  margin: 20px;
}

.module-name {
  font-size: 28px;
  margin: 0;
}

.module-status-div {
  background-color: #fbffaf;
  border-radius: 10px;
  width: fit-content;
}

.module-status-div p {
  margin-bottom: 0;
  padding: 6px 15px;
  color: #9f7e1c;
}

.module-status-coming-soon {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: fit-content;
}

.module-status-coming-soon p {
  margin-bottom: 0;
  padding: 6px 15px;
  color: #3e3f40;
}

.home-button-div {
  margin-bottom: 50px;
  position: absolute;
  bottom: 0;
}

.module-button-div {
  background-color: #095c13;
  color: white;
  border-radius: 20px;
  width: fit-content;
}

.module-button-div p {
  padding: 8px 50px;
  margin: 0;
}

.module-button-hidden {
  display: none;
}

.module-img img {
  height: 250px;
}

/*END HOME*/

/*ROADMAP*/
.flex-container {
  display: flex;
  gap: 40px;
  margin: 30px 70px;
}

.module-info {
  background-color: #f5f5f5;
  border-radius: 20px;
  height: 300px;
  width: 650px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.task-count {
  padding-top: 20px;
}

.next-task {
  background-color: #f5f5f5;
  border-radius: 20px;
}

.next-task-info {
  background-color: #f5f5f5;
  border-radius: 20px;
  height: 400px;
  width: 500px;
}

.next-task-content {
  padding: 40px 25px;
  height: 280px;
  position: relative;
}

.next-task-button-div {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 20px;
}

.roadmap-steps {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.step {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step p {
  text-align: center;
}

.step-bubble {
  background-color: #e6e6e6;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: #095c13;
}

.bubble-img {
  height: 40px;
}

.item3 {
  background-color: white;
  outline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  border-radius: 40px;
  position: absolute;
  right: 0;
  margin-right: 30px;
}

/*END ROADMAP*/

/* Subtask */
.thirty-px {
  font-size: 30px;
}

.subtask-div {
  margin: 30px 6%;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

/*Need to fix length based on how many tasks there are. higher left and right %, shorter the line*/
.progress-bar::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 10%;
  right: 10%;
  height: 4px;
  background-color: #a0a0a0;
  z-index: 0;
}

.progress-circle-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
}

.progress-circle {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}

.progress-circle-incomplete {
  border: 1px solid #095c13;
}

.progress-circle-inprogress {
  border: 6px solid rgba(9, 92, 19, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inprogress-dot {
  height: 40%;
}

.subtask-content {
  width: 40%;
}

.example-div {
  background-color: #f5f5f5;
  height: 400px;
  display: flex;
  justify-content: center;
}

.example-img {
  margin: 30px;
}

.all-tips {
  display: flex;
  justify-content: space-between;
}

.tip {
  background-color: #f5f5f5;
  width: 30%;
  height: 250px;
}

.tip-img {
  height: 90px;
  display: block;
  margin: 6% auto;
}

.tip p {
  text-align: center;
  margin: 10px 25px;
}

.resource-div {
  display: flex;
  gap: 25px;
}

.resource {
  width: fit-content;
  padding: 0 20px;
  border-radius: 5%;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 2px;
}
/* End Subtask */

/* QUIZ */

.question-text {
  font-size: 3rem;
  color: #333;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr;
  /* Single column */
  width: calc(100% - 300px);
  /* Full width minus 150px on each side */
  margin: 0 auto;
  /* Centers the grid */
  gap: 25px;
  padding: 0 150px;
  /* Creates the spacing */
}

.option-card {
  padding: 12px 16px;
  border-radius: 15px;
  background-color: #ebeaea4f;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  /* Takes full width of its container */
  box-sizing: border-box;
  /* Includes padding in width calculation */
}

.break-text {
  font-size: 3rem;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: center;
}

.dropdown-description {
  margin-left: 150px;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.dropdown-select {
  margin-left: 150px;
  margin-bottom: 15px;
  padding: 5px;
}

.quiz-navigation {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  gap: 20px;
}

.back-button,
.continue-button,
.result-button {
  flex: 1;
  max-width: 175px;
  padding: 8px 50px;
}

.back-button {
  background: white;
  color: #606060;
  border-style: solid #606060;
  border-radius: 20px;
  cursor: pointer;
}

.continue-button {
  background: #095c13;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.continue-button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.quiz-container {
  display: flex;
  height: 100vh;
}

.quiz-content {
  flex: 2;
  height: 100%;
}

.quiz-sidebar {
  flex: 1;
  height: 100%;
  background-color: #e9f7e8;
}

.suggestions {
  margin-left: 100px;
  margin-bottom: 30px;
}

.result-text {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.result-button-container {
  display: flex;
  justify-content: center;
}

.result-button {
  background: #095c13;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 100px;
}

/* END QUIZ */

/*LOGIN PAGE*/
.login {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.login-header {
  padding: 56px;
}

.login-left {
  width: 50%;
  left: 0;
}

.login-left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.login-left-text h2 {
  font-size: 40px;
}

.login-left-text input {
  width: 400px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  margin: 12px 0;
}

.login-submit {
  background-color: #095c13;
  border-radius: 20px !important;
  color: white;
  margin-top: 70px !important;
  font-weight: 400;
  font-size: 1rem;
}

.signup-link {
  color: #095c13;
  text-decoration: none;
}

.signup-submit {
  background-color: #095c13;
  border-radius: 20px !important;
  color: white;
  margin-top: 40px !important;
  font-weight: 400;
  font-size: 1rem;
}

.login-right {
  width: 50%;
  left: 0;
  background-color: #e9f7e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right-text {
  align-items: center;
  margin: 200px 100px;
  width: 600px;
}

.login-right-text h2 {
  font-size: 2.5rem;
}

.login-right-text p {
  font-size: 1.5rem;
}

/*END LOGIN*/
